.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-photo img {
  width: 45%;
  border-radius: 50%;
}

.photo-exp {
  display:flex;
  flex-wrap: wrap;
  width: 45%;
  background-color: #2A393E;
  color: white;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 20%;
  padding: 2% 2%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
